body {
	background-color: #ccebff;
	color: #4071a2;
	font-family: Verdana, sans-serif;
	margin: 20px 20px 20px 20px;
}

h1 {
	text-align: center;
}

p {
	margin: 10px 55px 20px 55px;
}

div {
	height: 75px;
	width: 1500px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #e6f9ff;
	margin: auto;
}
