body {
	background-color: #ccebff;
	color: #4071a2;
	font-family: Verdana, sans-serif;
	margin: 20px 20px 20px 20px;
}

h1 {
	text-align: center;
}

p {
	margin: 10px 55px 20px 55px;
}

div {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #80dfff;
	margin: 20px 50px 10px 5px;
}
